!!!
%html
  %head
    %meta{ charset: 'utf-8' }
    %title HayDay 売店価格表
    %link{ rel: 'stylesheet', href: '//bootswatch.com/simplex/bootstrap.min.css' }

  %body
    .container
      %h1 HayDay 売店価格表
      =yield
      %hr
      %footer
        %p
          created by
          %a{ href: 'http://twitter.com/soramugi' } @soramugi
